In [1]:
a = 'awesome'

def myname():
    print("Python is" + a)
    
myname()

Python isawesome

In [2]:
a = "psyco"

def myfun():
    a = "Crazy"
    print("Python is" + a)
myfun()
print("Raju is " + a)

Python isCrazy
Raju is psyco

In [3]:
a = 10
b = 23.5
c = "Hello"
d = True

In [4]:
#+-*/% ** //

In [5]:
c = a+b
print(c)

33.5

In [6]:
c = a-b
print(c)

-13.5

In [7]:
c = a*b
print(c)

235.0

In [8]:
c = a/b
print(c)

0.425531914893617

In [9]:
c = a%b
print(c)

10.0

In [10]:
c = a**b
print(c)

3.162277660168379e+23

In [11]:
a=2
b=3
c=a//b
print(c)

0

In [12]:
a=2
b=3
c=a**b
print(c)

8

In [13]:
a = "hello"
b = "kathmandu"
c = a+b
print(c)

hellokathmandu

In [14]:
a = "Hello World"
b = 6
c = a*b
print(c)

Hello WorldHello WorldHello WorldHello WorldHello WorldHello World

In [15]:
a = "Hello World"
b = 6
c = a*b
print(c)

Hello WorldHello WorldHello WorldHello WorldHello WorldHello World

In [16]:
a = True
b = False
c = a+b
print(c)

1

In [17]:
a = True
b = False
c = a*b
print(c)

0

In [18]:
p = 50000
t = 3/12
r = 11

I = p*t*r/100
print("The value of I",I)

The value of I 1375.0

In [19]:
#Basic InputOutput Operation
a = input()
print(a)

12
12

In [20]:
a = input("Enter a = ")
print(a)

Enter a = 10
10

In [21]:
a = input("Enter a = ")
b = input("Enter b = ")
c = a+b
print(c)

Enter a = 12
Enter b = 13
1213

In [22]:
a = int(input("Enter a = "))
b = int(input("Enter b = "))
c = a+b
print(c)

Enter a = 12
Enter b = 13
25

In [23]:
a = 2
b = 3
a+b

5

In [24]:
#int() str() float() bool()

In [25]:
a = 10
b = str(a)
b

'10'

In [26]:
a = 23
b = float(a)
b

23.0

In [27]:
a = 22.3333333333333333333333333333333333
b = int(a)
b

22

In [28]:
a = 2
b = bool(a)
b

True

In [29]:
a = "23"
b = bool(a)
b

True

In [30]:
p = int(input("Enter p ="))
t = float(input("Enter t = "))
r = float(input("Enter r = "))

I = p*t*r/100
print("The value of I is ", I)

Enter p =50000
Enter t = 0.03
Enter r = 12
The value of I is  180.0

In [1]:
physics = int(input("Enter physics marks = "))
chemistry = int(input("Enter chemistry marks = "))
math = int(input("Enter math marks = "))
english = int(input("Enter english marks = "))
nepali = int(input("Enter nepali marks = "))

total = physics + chemistry + math + english + nepali

percentage = (total/500)*100

print("The total marks = ",total)
print("The percentage = ", percentage)

Enter physics marks = 89
Enter chemistry marks = 77
Enter math marks = 65
Enter english marks = 99
Enter nepali marks = 40
The total marks =  370
The percentage =  74.0

In [2]:
name = input("Enter name = ")
age = int(input("Enter age = "))
address = input("Enter add = ")

info = "Hello I am " + name + "I am from  " + address + "I am " + str(age)

print(info)

Enter name = Kamala Ghale
Enter age = 22
Enter add = Bharatpur,Chitwan
Hello I am Kamala GhaleI am from  Bharatpur,ChitwanI am 22