In [1]:
a = 'Hello'
b = "Hello"
c = '''hello'''
print(type(a),type(b),type(c))

<class 'str'> <class 'str'> <class 'str'>

In [3]:
a = 'Hello '
b = 'World'
c = a + b
print(c)

Hello World

In [5]:
a = 'Rabi '
b = 3
c = a * b
print(c)

Rabi Rabi Rabi

In [6]:
a = "Hello World"
for i in a:
    print(i,"I am python")

H I am python
e I am python
l I am python
l I am python
o I am python
  I am python
W I am python
o I am python
r I am python
l I am python
d I am python

In [8]:
a = "Hello world I am python"
print(a[0])
print(a[0:5])
print(a[0:15:2])

H
Hello
HlowrdIa

In [9]:
a = "Hello World"
print(a[-1])

d

In [10]:
a = 'Hello I am python'
print(len(a))

17

In [11]:
a = 'Hello I am python'
print(a[5:])

 I am python

In [12]:
a = 'Hello I am python'
print(a[:])

Hello I am python

In [13]:
a = 'Hello I am python'
print(a[: :-1])

nohtyp ma I olleH

In [ ]:
# String Formatting

In [15]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")

info = f"I am {name}. I am from {add}. I am {age}."
print(info)

Enter name = kamala
Enter age = 2
Enter add = bhratpur
I am kamala. I am from bhratpur. I am 2.

In [16]:
info = ""
grand_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = float(input("Enter quantity = "))
    total = price * quantity
    data = f"{name} {price} {quantity} {total} {grand_total} \n"
    info = info + data
    grand_total = grand_total + total

print("Total = ",total)
print("Grand_total = ",grand_total)
print(info)

Enter n = 3
Enter name = pen
Enter price = 3
Enter quantity = 23
Enter name = pencil
Enter price = 33
Enter quantity = 44
Enter name = book
Enter price = 22
Enter quantity = 33
Total =  726.0
Grand_total =  2247.0
pen 3 23.0 69.0 0
pencil 33 44.0 1452.0 69.0
book 22 33.0 726.0 1521.0

In [24]:
# Search string

In [25]:
a = 'Raju Ram Shyam hari Sita Gita Nita'
name = "Nita"
if name in a:
    print("yes there is")

yes there is

In [23]:
a = 'Raju Ram Shyam hari Sita Gita Nita'
name = input("Enter name = ")
if name in a:
    print("Yes there is")
    print(a.count(name))
else:
    print("No there is not")

Enter name = Ram
Yes there is
1

In [27]:
a = 'Raju Ram Shyam hari Sita Gita Nita'
print(a.upper())
print(a.lower())
print(a)

RAJU RAM SHYAM HARI SITA GITA NITA
raju ram shyam hari sita gita nita
Raju Ram Shyam hari Sita Gita Nita

In [28]:
a = 'Raju Ram Shyam hari Sita Gita Nita'
print(a.title())

Raju Ram Shyam Hari Sita Gita Nita

In [30]:
a = 'Raju Ram Shyam hari Sita Gita Nita Ramesh'.lower()
name = input("Enter name = ").lower()
if name in a:
    print("Yes there is")
    print(a.count(name))
else:
    print("No there is not")

Enter name = RAM
Yes there is
2

In [31]:
# WAP to calculate the grade of multiple students using while loop.
i = 0
numberofstudents = int(input("Enter numberofstudents = "))
while i < numberofstudents:
    name = str(input("Enter name = "))
    physics = int(input("Enter physics = "))
    if physics <= 100:
        chemistry = int(input("Enter chemistry = "))
        if chemistry <= 100:
            biology = int(input("Enter biology = "))
            if biology <= 100:
                math = int(input("Enter math = "))
                if math <= 100:
                    english = int(input("Enter english = "))
                    if english <= 100:
                        nepali = int(input("Enter nepali = "))
                        if nepali <= 100:
                            total = (physics + chemistry + biology + math + english + nepali)/6

                            if total > 90 or total == 90:
                                grade = 'A+'
                            elif total > 80 or total == 80 :
                                grade = 'A'
                            elif total > 70 or total == 70:
                                grade = 'B'
                            elif total > 60 or total == 60:
                                grade = 'C'
                            else:
                                grade = 'Poor Grade'

                            print("The total percent is ",total,"%")
                            print("The grade is ",grade)
                            
                            i = i + 1 
                            
                    else:
                        print("Obtained marks cannot be more than 100")
                else:
                    print("Obtained marks cannot be more than 100")
            else:
                print("Obtained marks cannot be more than 100")
        else:
            print("Obtained marks cannot be more than 100")
    else:
        print("Obtained marks cannot be more than 100")

Enter numberofstudents = 2
Enter name = Ram
Enter physics = 89
Enter chemistry = 78
Enter biology = 77
Enter math = 77
Enter english = 77
Enter nepali = 77
The total percent is  79.16666666666667 %
The grade is  B
Enter name = Shyam
Enter physics = 33
Enter chemistry = 44
Enter biology = 55
Enter math = 66
Enter english = 77
Enter nepali = 88
The total percent is  60.5 %
The grade is  C

In [39]:
a = "ram shyam radha ram shyam radharam hari krishna rabi surya kiran tejaswi prakash pradhan".upper()
name = input("Enter name = ").upper()
print(a.title())
if name in a:
    print("Yes there is")
    print(a.count(name))
else:
    print("No, there is not")

Enter name = ram
Ram Shyam Radha Ram Shyam Radharam Hari Krishna Rabi Surya Kiran Tejaswi Prakash Pradhan
Yes there is
3

In [2]:
a = "HELLO I AM PYTHON. I AM A SNAKE. I HIDE IN RAINY DAYS AND I COME OUT TO SEARCH MY FOODS IN SUNNY DAYS. NICE TO MEET YOU. I HAVE A BROTHER TOO. HE IS ANOCONDA. BEWARE OF HIM. HE IS MORE DANGEROUS THAN ME.THANK YOU!".lower()
name = input("Enter name = ").lower()
print(a.title())
if name in a:
    print("yes, there is.")
    print(a.count(name))
else:
    print("No, there is not")

Enter name = SEARCH
Hello I Am Python. I Am A Snake. I Hide In Rainy Days And I Come Out To Search My Foods In Sunny Days. Nice To Meet You. I Have A Brother Too. He Is Anoconda. Beware Of Him. He Is More Dangerous Than Me.Thank You!
yes, there is.
1