In [ ]:
!pip install mysql-connector

In [5]:
import mysql.connector
#importing database
database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "python_class1"
)
db = database.cursor()

In [ ]:
# SELECT
# INSERT
# UPDATE
# DELETE

In [6]:
db.execute("SELECT * FROM student")
result = db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 23, 56, 78, 0, 23, 285, 60.0, 'A')