In [1]:
heroname = {"Rajeshhamal","Paulshah","Dhirajmagar",}
for x in heroname :
    print(x)

Dhirajmagar
Rajeshhamal
Paulshah

In [2]:
a = int(input("Enter value of a = "))
b = int(input("Enter value of b = "))
c = int(input("Enter value of c = "))
d = int(input("Enter value of d = "))

z = (a+b+c+d)/4

print("The value of z = ",z)

Enter value of a = 22
Enter value of b = 33
Enter value of c = 2
Enter value of d = 3
The value of z =  15.0

In [5]:
physics = int(input("Enter physics marks = "))
chemistry = int(input("Enter chemistry marks = "))
math = int(input("Enter math marks = "))
english = int(input("Enter english marks = "))
nepali = int(input("Enter nepali marks = "))

total = physics + chemistry + math + english + nepali

percentage = (total/500)*100
if percentage > 80 or percentage == 80:
    print(" The grade = A")
elif percentage > 70 or percentage == 70:
    print("The grade = B")
elif percentage > 60 or percentage == 60:
    print("The grade = C")
else:
    print(" Invalid Operation")

print("The total marks = ",total)
print("The percentage = ", percentage)

Enter physics marks = 22
Enter chemistry marks = 33
Enter math marks = 44
Enter english marks = 55
Enter nepali marks = 1
 Invalid Operation
The total marks =  155
The percentage =  31.0

In [6]:
#Nested if/ else
#if <condition>:
#    if  <condition>:
#        <operation>:
#     else <condition>:
#          <operation>
#else:
#    if    <condition>:
#          <operation>:
#    else  <condition>:
#          <operation>

In [9]:
n = int(input("Enter n = "))
if n >= 0:
    if n % 2 == 0:
        print("The number is +ve and even")
    else:
        print("The number is +ve and odd")
else:
    if n % 2 != 0:
        print("The number is -ve and odd")
    else:
        print("The number is -ve and even")

Enter n = -45
The number is -ve and odd

In [10]:
#Main Chapters ahead

In [11]:
#Loop Types
# for loop
# while loop

In [13]:
# For Loop
range(5)  #0,1,2,3,4
range(1,5) # 1,2,3,4
range(1,10,2) #1,3,5,7,9

range(1, 10, 2)

In [14]:
for a in range(5):
    print(a)

0
1
2
3
4

In [16]:
for a in range(1,10,2):
    print(a)

1
3
5
7
9

In [22]:
for i in range(1,10,3):
    print(i,"Hello World")

1 Hello World
4 Hello World
7 Hello World

In [21]:
for b in range(5):
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

In [26]:
for c in range(5):
    print("Hello World ",end = "")

Hello World Hello World Hello World Hello World Hello World

In [27]:
for c in range(5):
    print(c,"Hello World ",end = "")

0 Hello World 1 Hello World 2 Hello World 3 Hello World 4 Hello World

In [29]:
for i in range(1,11):
    print(5*i)

5
10
15
20
25
30
35
40
45
50

In [31]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter n = 200
200 * 1 = 200
200 * 2 = 400
200 * 3 = 600
200 * 4 = 800
200 * 5 = 1000
200 * 6 = 1200
200 * 7 = 1400
200 * 8 = 1600
200 * 9 = 1800
200 * 10 = 2000

In [33]:
a = int(input("Enter a = "))
for b in range(1,150,5):
    print(a,"%",b,"=",a % b)

Enter a = 50
50 % 1 = 0
50 % 6 = 2
50 % 11 = 6
50 % 16 = 2
50 % 21 = 8
50 % 26 = 24
50 % 31 = 19
50 % 36 = 14
50 % 41 = 9
50 % 46 = 4
50 % 51 = 50
50 % 56 = 50
50 % 61 = 50
50 % 66 = 50
50 % 71 = 50
50 % 76 = 50
50 % 81 = 50
50 % 86 = 50
50 % 91 = 50
50 % 96 = 50
50 % 101 = 50
50 % 106 = 50
50 % 111 = 50
50 % 116 = 50
50 % 121 = 50
50 % 126 = 50
50 % 131 = 50
50 % 136 = 50
50 % 141 = 50
50 % 146 = 50

In [34]:
for i in range(3):
    x = int(input("Enter x = "))

Enter x = 12
Enter x = 23
Enter x = 33

In [36]:
for i in range(4):
    x = int(input("Enter x = "))

print(x)

Enter x = 1
Enter x = 12
Enter x = 22
Enter x = 22
22

In [38]:
s = 0
for i in range(3):
    x = int(input("Enter x = "))
    s = s + x
    print(s)

Enter x = 1
1
Enter x = 22
23
Enter x = 33
56

In [19]:
 s = 0
for i in range(3):
    x = int(input("Enter x = "))
    s = s + x
    print("s","=",s)

Enter x = 1
s = 1
Enter x = 2
s = 3
Enter x = 3
s = 6

In [3]:
s = 0
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    s = s + x
print(s)

Enter n = 6
Enter x = 5
Enter x = 4
Enter x = 3
Enter x = 2
Enter x = 1
Enter x = 2
17

In [6]:
# Home Work Below

In [6]:
# WAP to calculate factorial. #5! = 1*2*3*4*5
fact = 1
n = int(input("Enter n = "))
if n >= 0:
    for i in range(1,n+1):
        fact = fact * i
        print(fact)
else:
    print("The value of n shouldnot be negative")

Enter n = -12
The value of n shouldnot be negative

In [1]:
# WAP to calculate the grade of multiple students.
numberofstudents = int(input("Enter numberofstudents = "))
for a in range(numberofstudents):
    name = str(input("Enter name = "))
    physics = int(input("Enter physics = "))
    chemistry = int(input("Enter chemistry = "))
    biology = int(input("Enter biology = "))
    math = int(input("Enter math = "))
    english = int(input("Enter english = "))
    nepali = int(input("Enter nepali = "))

    total = ( physics + chemistry + biology + math + english + nepali )/6
    
    if total > 90 or total == 90:
        grade = 'A+'
    elif total > 80 or total == 80 :
        grade = 'A'
    elif total > 70 or total == 70:
        grade = 'B'
    elif total > 60 or total == 60:
        grade = 'C'
    else:
        grade = 'Invalid Operation'

    print("The total percent is ",total,"%")
    print("The grade is ",grade)

Enter numberofstudents = 5
Enter name = Ram
Enter physics = 89
Enter chemistry = 67
Enter biology = 77
Enter math = 77
Enter english = 88
Enter nepali = 78
The total percent is  79.33333333333333 %
The grade is  B
Enter name = RAbi
Enter physics = 89
Enter chemistry = 99
Enter biology = 78
Enter math = 99
Enter english = 99
Enter nepali = 99
The total percent is  93.83333333333333 %
The grade is  A+
Enter name = Sita
Enter physics = 88
Enter chemistry = 77
Enter biology = 77
Enter math = 77
Enter english = 77
Enter nepali = 77
The total percent is  78.83333333333333 %
The grade is  B
Enter name = SIta
Enter physics = 99
Enter chemistry = 99
Enter biology = 99
Enter math = 99
Enter english = 99
Enter nepali = 99
The total percent is  99.0 %
The grade is  A+
Enter name = Hira
Enter physics = 99
Enter chemistry = 99
Enter biology = 99
Enter math = 99
Enter english = 99
Enter nepali = 99
The total percent is  99.0 %
The grade is  A+

In [18]:
#  WAP to create a billing system.
# input (name, price, quantity, total, grand total)
grand_total = 0
n = int(input("Enter n = "))
for i in range(n):
    productname = str(input("Enter productname = "))
    price = float(input("Enter price = "))
    quantity = float(input("Enter quantity = "))
    total = price * quantity
    grand_total = total + grandtotal
    
    print("Total = ",total)
    print("Grand_total = ",grand_total)

Enter n = 2
Enter productname = pen
Enter price = 23
Enter quantity = 2
Total =  46.0
Grand_total =  471.0
Enter productname = ball
Enter price = 50
Enter quantity = 2
Total =  100.0
Grand_total =  525.0

In [17]:
# WAP to create a billing system(Department store type billing system)
info = ""
grand_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = float(input("Enter quantity = "))
    total = price * quantity
    data = name + " " + str(price) + " " + str(quantity) + " " + str(total) + "\n"
    info = info + data
    grand_total = grand_total + total

print("Total = ",total)
print("Grand_total = ",grand_total)
print(info)

Enter n = 2
Enter name = pen
Enter price = 23
Enter quantity = 2
Enter name = ball
Enter price = 50
Enter quantity = 10
Total =  500.0
Grand_total =  546.0
pen 23 2.0 46.0
ball 50 10.0 500.0

In [13]:
data = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    info = name + " " + str(phone) + "\n"
    data = data + info
print(data)

Enter n = 2
Enter name = kamala
Enter phone = 9869058115
Enter name = bimala
Enter phone = 9812345678
 kamala 9869058115
bimala 9812345678

In [20]:
for i in range(1,10):
    print( i * "o")

o
oo
ooo
oooo
ooooo
oooooo
ooooooo
oooooooo
ooooooooo

In [50]:
for i in range(5):
    print(i * " ",i * "o")

  o
   oo
    ooo
     oooo

In [54]:
c = 5
for i in range(5):
    print((c-1) * " ",i * "o", (c-1) * " ",i * "o")

     o      o
     oo      oo
     ooo      ooo
     oooo      oooo

In [48]:
c = 5
for i in range(5):
    print((c-1)* " ",(2*i-1) * "o")
    c = c-1

    o
   ooo
  ooooo
 ooooooo

In [43]:
fruits = ["apple", "banana", "mango", "orange"]
for x in fruits:
    print(x)

apple
banana
mango
orange

In [35]:
for y in "Hello World":
    print(y)

H
e
l
l
o

W
o
r
l
d

In [4]:
Fruits = ["apple", "banana", "mango", "orange"]
for x in Fruits:
    print(x)

apple
banana
mango
orange

In [18]:
fruits = {"Apple ","Banana ","Mango ","Orange " }
for x in fruits:
    print(x)
    if x == "Mango":
        break

Banana
Apple
Orange
Mango

In [17]:
fruits = ["abcd","cdef","fghi","ijkl"]
for x in fruits:
    if x == "cdef":
        break
    print(x)

abcd

In [16]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [55]:
# CONTROL STATEMENT
# break
# continue

In [61]:
# Break Statement
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [58]:
# Continue Statement
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [2]:
# Pass Statement
for i in range(5):
    pass