In [1]:
# Dictionary
#   - Indexing
#   -Multiple Data
#   -Ordered
#    - Mutable

In [2]:
# d = {<key>:<value>,<key>:<value>,<key>:<value>,<key>:<value>}

In [4]:
 a = {"a":"Apple","b":"Ball","c":"Cat"}
print(a)
print(len(a))

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
3

In [5]:
# dict()
#{}

In [6]:
a = {}
a['a'] = "Apple"
a

{'a': 'Apple'}

In [7]:
a = {}
a['a'] = "Apple"
a['b'] = "Ball"
a['c'] = "Cat"
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [8]:
a = {"a":"Apple","b":"Ball","c":"Cat"}
a['a'] = "apple"
a

{'a': 'apple', 'b': 'Ball', 'c': 'Cat'}

In [9]:
a = {"a":"Apple","b":"Ball","c":"Cat"}
a['A'] = "Ant"
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Ant'}

In [10]:
a = {"a":"Apple","b":"Ball","c":"Cat"}
for i in a:
    print(i)

a
b
c

In [12]:
a = {"a":"Apple","b":"Ball","c":"Cat"}
for i in a.values():
    print(i)

Apple
Ball
Cat

In [15]:
a = {"a":"Apple","b":"Ball","c":"Cat"}
for i in a.items():
    print(i)

('a', 'Apple')
('b', 'Ball')
('c', 'Cat')

In [16]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    d[name]= phone
print(d)

Enter n = 2
Enter name = Ram
Enter phone = 9809150089
Enter name = Rabindra
Enter phone = 9809145609
{'Ram': 9809150089, 'Rabindra': 9809145609}

In [17]:
a = {"a":"Apple","b":"Ball","c":"Cat"}
a['d'] = "Dog"
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}

In [18]:
a = {}
a['a'] = "Apple"
a['b'] = "Ball"
a['c'] = "Cat"
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [19]:
#{curly bracket vitra kaile pni No, +, * operator use hudaina}

In [20]:
a = {"a":"Apple","b":"Ball","c":"Cat"}
b = {"d":"Dog",'e':"Egg"}
a.update(b)
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog', 'e': 'Egg'}

In [21]:
#del
a = {"a":"Apple","b":"Ball","c":"Cat"}
del a['a']
a

{'b': 'Ball', 'c': 'Cat'}

In [22]:
# dictionary ma remove() use hudaina

In [23]:
#pop
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog', 'e': 'Egg'}
b = a.pop('a')
print(a)
print(b)

{'b': 'Ball', 'c': 'Cat', 'd': 'Dog', 'e': 'Egg'}
Apple

In [24]:
a = {'Ram':[9809150089,9869058115],'Shyam':[9879068115,9808140079]}
a

{'Ram': [9809150089, 9869058115], 'Shyam': [9879068115, 9808140079]}

In [25]:
a['Ram'][0]

9809150089

In [27]:
a['Ram'][0] = 9800000000
a

{'Ram': [9800000000, 9869058115], 'Shyam': [9879068115, 9808140079]}

In [1]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = int(input("Enter ntc phone = "))
    ncell_phone = int(input("Enter ncell phone = "))
    d[name]= [ntc_phone,ncell_phone]
print(d)

Enter n = 2
Enter name = Ram
Enter ntc phone = 9869058115
Enter ncell phone = 9869058115
Enter name = Sita
Enter ntc phone = 9869058115
Enter ncell phone = 9869058115
{'Ram': [9869058115, 9869058115], 'Sita': [9869058115, 9869058115]}

In [7]:
info = {'name': ['Ram','Sita','Laxman','Ram'],'age': [22,20,17,78],'add': ["Kathmandu","Janakpur","Kathmandu","Chitwan"]}
info

{'name': ['Ram', 'Sita', 'Laxman', 'Ram'],
 'age': [22, 20, 17, 78],
 'add': ['Kathmandu', 'Janakpur', 'Kathmandu', 'Chitwan']}

In [6]:
print(info['name'][0])
print(info['age'][0])
print(info['add'][0])

Ram
22
Kathmandu

In [10]:

info['name']

['Ram', 'Sita', 'Laxman', 'Ram']

In [11]:
c = 0
for i in info['name']:
    if "Ram" == i:
        print(c)
    c = c + 1

0
3

In [5]:
l = []
c = 0
info = {'name': ['Ram','Sita','Laxman','Ram'],'age': [22,20,17,78],'add': ["Kathmandu","Janakpur","Kathmandu","Chitwan"]}
for i in info['name']:
    if "Ram" == i:
        l.append(c)
    c = c + 1
    print(c)

1
2
3
4

In [18]:
c = 0
for i in info['name']:
    if "Ram" == i:
        print(info['name'][c],info['age'][c],info['add'][c])
    c = c + 1

Ram 22 Kathmandu
Ram 78 Chitwan

In [14]:
# dict inside list
data = [{'name':'ram','age':'20','add':'Bharatpur'},
        {'name':'Shyam','age':'29','add':'Nagarkot'},
        {'name':'Gam','age':'80','add':'Kathmandu'},
       {'name':'Pam','age':'40','add':'Chitwan'}]
data[0]

{'name': 'ram', 'age': '20', 'add': 'Bharatpur'}

In [7]:
# dict inside list
data = [{'name':'ram','age':'20','add':['Bharatpur','kathmandu']},
        {'name':'Shyam','age':'29','add':['Butwal','Banepa']},
        {'name':'Gam','age':'80','add':['Butwal','Chitwan']},
       {'name':'Pam','age':'40','add':['Chitwan','Chitwan']}]
data[2]

{'name': 'Gam', 'age': '80', 'add': ['Butwal', 'Chitwan']}

In [18]:
# dict inside dict
data = {1:{'name':'ram','age':'20','add':{'temporary':'Bharatpur','permanent':'Kathmandu'}},
        2:{'name':'Shyam','age':'29','add':'Nagarkot'},
        3:{'name':'Gam','age':'80','add':'Kathmandu'},
       4:{'name':'Pam','age':'40','add':'Chitwan'}}
data[1]

{'name': 'ram',
 'age': '20',
 'add': {'temporary': 'Bharatpur', 'permanent': 'Kathmandu'}}

In [1]:
# WAP to create dictionary inside dictionary in CRUD
# WAP to create list inside dictionary in CRUD
# WAP to create dictionary inside list in CRUD.

In [2]:
# WAP to create list inside dictionary in CRUD.
d = {'name':[],'age':[],'add':[]}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    d['name'].append(name)
    d['age'].append(age)
    d['add'].append(add)

print(d)

Enter n = 3
Enter name = KAmala
Enter age = 22
Enter add = Bharatpur, Chitwan
Enter name = Rabi Gurung
Enter age = 24
Enter add = Gorkha,Nepal
Enter name = Chunu Maya
Enter age = 21
Enter add = Kathmandu,Nepal
{'name': ['KAmala', 'Rabi Gurung', 'Chunu Maya'], 'age': [22, 24, 21], 'add': ['Bharatpur, Chitwan', 'Gorkha,Nepal', 'Kathmandu,Nepal']}

In [5]:
# WAP to create dictionary inside list in CRUD.
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data = {'name':name,'age':age,'add':add}
    a.append(data)
    
print(a)

Enter n = 2
Enter name = kamala
Enter age = 22
Enter add = bharatpur
Enter name = rabi
Enter age = 22
Enter add = gorkha
[{'name': 'kamala', 'age': 22, 'add': 'bharatpur'}, {'name': 'rabi', 'age': 22, 'add': 'gorkha'}]

In [7]:
# WAP to create list inside dictionary in CRUD.
a = {'product_name':[],'price':[],'quantity':[],'Total':[]}
n = int(input("Enter n = "))
for i in range(n):
    product_name = input("Enter product_name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    Total = price * quantity
    a['product_name'].append(product_name)
    a['price'].append(price)
    a['quantity'].append(quantity)
    a['Total'].append(Total)
print("Total price = ",Total)
print(a)

Enter n = 2
Enter product_name = Bread
Enter price = 60
Enter quantity = 2
Enter product_name = Flour
Enter price = 34
Enter quantity = 25
Total price =  850
{'product_name': ['Bread', 'Flour'], 'price': [60, 34], 'quantity': [2, 25], 'Total': [120, 850]}

In [8]:
# WAP to create dictionary inside list in CRUD.
a = []
n = int(input("Enter n = "))
for i in range(n):
    product_name = input("Enter product_name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    Total = price * quantity
    data = {'product_name':product_name,'price':price,'quantity':quantity,'Total':Total}
    a.append(data)
print("Total price = ",Total)
print(a)

Enter n = 2
Enter product_name = Bread
Enter price = 22
Enter quantity = 3
Enter product_name = Flour
Enter price = 45
Enter quantity = 6
Total price =  270
[{'product_name': 'Bread', 'price': 22, 'quantity': 3, 'Total': 66}, {'product_name': 'Flour', 'price': 45, 'quantity': 6, 'Total': 270}]

In [11]:
# WAP to create dictionary inside dictionary in CRUD.
a = {}
n = int(input("Enter n = "))
for i in range(n):
    product_name = input("Enter product_name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    Total = price * quantity
    a[i] = {'product_name':product_name,'price':price,'quantity':quantity,'Total':Total}

print("Total price = ",Total)
print(a)

Enter n = 2
Enter product_name = red
Enter price = 23
Enter quantity = 3
Enter product_name = blue
Enter price = 55
Enter quantity = 4
Total price =  220
{0: {'product_name': 'red', 'price': 23, 'quantity': 3, 'Total': 69}, 1: {'product_name': 'blue', 'price': 55, 'quantity': 4, 'Total': 220}}

In [12]:
# WAP to create dictionary inside dictionary in CRUD.
a = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    a[i] = {'name':name,'age':age,'add':add}

print(a)

Enter n = 2
Enter name = ASDD
Enter age = 22
Enter add = 3333dfvd
Enter name = dfgt
Enter age = 33
Enter add = 23e3fef
{0: {'name': 'ASDD', 'age': 22, 'add': '3333dfvd'}, 1: {'name': 'dfgt', 'age': 33, 'add': '23e3fef'}}