In [1]:
# PYTHON COLLECTION
    # List
    # Tuple
    # Dictionary
    #Set

In [2]:
# LIST 
#Indexing support
#Ordered datatype
#multiple and duplicate data
#mutable

In [4]:
a = ["Apple","Ball","Cat","Dog"]
b = [1,2,3,4,5,6]
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [9]:
a = ["Apple","Ball","Cat","Dog"]
print(a[0])
print(a[-1])
print(a[0:4])
print(a[0:3:2])

Apple
Dog
['Apple', 'Ball', 'Cat', 'Dog']
['Apple', 'Cat']

In [17]:
a = [1,2,3,3,4,5,6,7,8,9,1,2,3,4,5,6,7]
print(a)
print(a[0:10:3])
print(len(a))

[1, 2, 3, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7]
[1, 3, 6, 9]
17

In [19]:
a = [1,2,3,"ram","shyam",3,4,5,6]
print(a)

[1, 2, 3, 'ram', 'shyam', 3, 4, 5, 6]

In [20]:
a = ["Apple","Ball","Cat","Dog"]
b = [1,2,3,4,5,6]
c = a + b
print(c)

['Apple', 'Ball', 'Cat', 'Dog', 1, 2, 3, 4, 5, 6]

In [24]:
a = ["Apple","Ball","Cat","Dog"]
b = [1,2,3,4,5,6]
print(a * 2)
print(b * 2)

['Apple', 'Ball', 'Cat', 'Dog', 'Apple', 'Ball', 'Cat', 'Dog']
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [27]:
#a[]
a = list()
a = a + ["Apple"]
a = a + ["Ball"]
print(a)

['Apple', 'Ball']

In [28]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a = a + [x]
print(a)

Enter n = 4
Enter x = 1
Enter x = 2
Enter x = 3
Enter x = 4
[1, 2, 3, 4]

In [30]:
a = [1,2,3,4,5,6,666666666,7777777777777,6666666666,555555556,66666666,544,0]
print("The maximum value = ",max(a))
print("The minimum value = ",min(a))
print("The sum value = ",sum(a))
print("The average value = ",sum(a)/len(a))

The maximum value =  7777777777777
The minimum value =  0
The sum value =  7785733333896
The average value =  598902564145.8462

In [31]:
a = [1,2,3,4,5,6,666666666,7777777777777,6666666666,555555556,66666666,544,0]
a.sort()
print(a)

[0, 1, 2, 3, 4, 5, 6, 544, 66666666, 555555556, 666666666, 6666666666, 7777777777777]

In [34]:
a = [0,1,2,3,4,5,6,666666666,7777777777777,6666666666,2,555555556,66666666,544]
a.reverse()
print(a)

[544, 66666666, 555555556, 2, 6666666666, 7777777777777, 666666666, 6, 5, 4, 3, 2, 1, 0]

In [36]:
a = ["Zebra","Apple","Orange","Nice","1Xray","apple","#apple"]
a.sort()
print(a)

['#apple', '1Xray', 'Apple', 'Nice', 'Orange', 'Zebra', 'apple']

In [1]:
#data entry
#append() insert() extend()

#Delete Value
#del remove() pop()

In [5]:
#append
a = []
a.append("Apple")
a.append("Ball")
a.append("Call")
print(a)

['Apple', 'Ball', 'Call']

In [7]:
#append
a = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a.append(x)
print(a)

Enter n = 4
Enter x = 2
Enter x = 3
Enter x = 4
Enter x = 5
[2, 3, 4, 5]

In [8]:
# insert()
a = [1,2,3,4,5,6,7,8,9]
a.insert(1,100)
a

[1, 100, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
#[1,"One",10.5]

In [12]:
#extend()
a = [1,2,3,4,5,6,7]
b = [8,9,10]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
#update
a = ["Zebra","Cow","Dog","Cat","1Xray","!Apple","Zebra","cow"]
a[0] = "zebra"

a

['zebra', 'Cow', 'Dog', 'Cat', '1Xray', '!Apple', 'Zebra', 'cow']

In [14]:
# To find out index (it works only in single same string (eg Zebra Zebra))
a = ["Zebra","Cow","Dog","Cat","1Xray","!Apple","Zebra","cow"]
a.index("cow")

7

In [17]:
#to find out index having multiple same string
a = ["Zebra","Cow","Dog","Cat","1Xray","!Apple","Zebra","cow"]
for i in range(len(a)):
    if a[i] == "Zebra":
        print(i)

0
6

In [29]:
#to update both capital zebra in small letter
a = ["Zebra","Cow","Dog","Cat","1Xray","!Apple","Zebra","cow"]
for i in range(len(a)):
    if a[i] == "Zebra":
        a[i] == "zebra"
a

['Zebra', 'Cow', 'Dog', 'Cat', '1Xray', '!Apple', 'Zebra', 'cow']

In [6]:
#Update multiple value
a = ["Apple","Ball","Cat","!dog","1xray","Apple"]
for i in range(len(a)):
    if a[0] == "Apple":
        a[0] == "apple"
print(a)

['Apple', 'Ball', 'Cat', '!dog', '1xray', 'Apple']

In [9]:
# Delete
a = ["Zebra","Cow","Dog","Cat","1Xray","!Apple","Zebra","cow"]
del a[0]
print(a)

['Cow', 'Dog', 'Cat', '1Xray', '!Apple', 'Zebra', 'cow']

In [10]:
# Remove
a = ["Zebra","Cow","Dog","Cat","1Xray","!Apple","Zebra","cow"]
a.remove("1Xray")
print(a)

['Zebra', 'Cow', 'Dog', 'Cat', '!Apple', 'Zebra', 'cow']

In [11]:
#pop
a = ["Zebra","Cow","Dog","Cat","1Xray","!Apple","Zebra","cow"]
a.pop(5)
print(a)

['Zebra', 'Cow', 'Dog', 'Cat', '1Xray', 'Zebra', 'cow']